﻿@model SimulasiTes.Models.dataRumah

@{
    ViewData["Title"] = "Index";
}
@*<script type="text/javascript">

        var markers = @Html.Raw(ViewBag.Markers);
        window.onload = function () {
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                zoom: 4,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            for (i = 0; i < markers.length; i++) {
                var data = markers[i]
                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: data.title
                });
                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent(data.description);
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
        }
</script>*@
@*=================================================================================================================*@
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 100%;
    }
</style>

<h1>Input Info Rumah</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tipe" class="control-label">Tipe Rumah</label>
                <select class="custom-select" asp-for="Tipe">
                    <option selected> Select Tipe Rumah </option>
                    <option value="36">36</option>
                    <option value="45">45</option>
                    <option value="72">72</option>
                </select>
                <span asp-validation-for="Tipe" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Alamat" class="control-label">Alamat Rumah</label>
                <input asp-for="Alamat" class="form-control" placeholder="Alamat Rumah" />
                <span asp-validation-for="Alamat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-7">
        <div id="map"></div>
        <script>
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: -6.8648101, lng: 107.5612003 },
                    zoom: 8
                });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8IwfWccMQMQfan4g_4xqhYCqx9SYzsLE&callback=initMap" async defer>

        </script>

        @*------------------------------------------------------------------------------------------------------*@

        @*@using (Html.BeginForm("Location", "Home", FormMethod.Post))
        {
            <div class="container py-4">
                <div class="card">
                    <div class="card-header bg-danger">
                        <h6 class="card-title text-uppercase text-white">Google Map Location</h6>
                    </div>
                    <div class="card-body">
                        <button style="margin-bottom:10px;" type="button" data-target="#myMap" data-toggle="modal" class="btn btn-danger btn-sm rounded-0"><i class="fa fa-plus-circle"></i> Add New Location</button>

                        <div class="modal fade" id="myMap">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Add New Location</h4>
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4 col-xs-12">
                                                <div class="form-group">
                                                    <label>City Name:</label>
                                                    @Html.EditorFor(model => model.Cityname, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Cityname, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-xs-12">
                                                <div class="form-group">
                                                    <label>Latitude:</label>
                                                    @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-xs-12">
                                                <div class="form-group">
                                                    <label>Longitude:</label>
                                                    @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-xs-12">
                                                <div class="form-group">
                                                    <label>Description:</label>
                                                    <textarea name="Description" rows="5" class="form-control"></textarea>
                                                    @Html.ValidationMessageFor(model => model.Keterangan, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Close</button>
                                        <button class="btn btn-primary rounded-0">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="dvMap" class="card" style="width: 100%; height: 400px">
                        </div>
                    </div>
                </div>
            </div>
        }*@
        @*------------------------------------------------------------------------------------------------------*@


    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



